.title {
    font-feature-settings: normal;
    padding-bottom: 60px;
    font-family: "VTB Group UI", sans-serif;
    vertical-align: baseline;
    color: rgb(182, 193, 221);
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 100%;
    letter-spacing: -2px;
}