.box{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
}

.item {
    padding-left: 20px;
    font-family: "VTB Group Cond Book";
    font-weight: bolder;
    font-size: 26px;
    display: flex;
    flex-direction: row;
}

.item:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: all 1s;
}