
.r {
    position: absolute;
    z-index: 1;
    width: 80%;
    height: 109vh;
    background-color: rgba(255, 255, 255, 0.966);
    .burger_img {
        position: absolute;
        left: 90%;
        }
}

.bagraundBody {
    background-color: #717174;
    overflow: hidden;
}

