
.r {
    position: absolute;
    z-index: 3;
    width: 50%;
    height: 70vh;
    background-color: rgba(49, 45, 45, 0.801);
    .burger_img {
        position: absolute;
        left: 93%;
        }

}

