
.r {
    position: absolute;
    z-index: 1;
    width: 80%;
    height: 109vh;
    background-color: rgba(49, 45, 45, 0.801);
    .burger_img {
        position: absolute;
        left: 93%;
        }

}

