@import '../../../styles/variebals.scss';
@import '../../../styles/breakepoints.scss';
.box {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    display: flex;
    justify-content: space-between;


    width: 100vw;
    height:$widhtHeader;
    
    background: $blueVtb;
    color: $witeOpasiti;

    @include bp-767 {
        justify-content: end;
    }


} 


.logo {
    margin: 1vmin;
    width: 8vmin;
    height: 8vmin;
}