.box {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    display: flex;
    justify-content: flex-end;

    width: 100%;
    height: 60px;
    
    background: linear-gradient(78deg, #e2e2e2, #e4be57);
    color: rgb(228, 239, 248);
    font-size: 26px;
    
}