html,
body {
  padding: 0;
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}
ul {
  padding-inline-start: 0;
}

.main {
  height: 100%;
}

footer{
  height: 300px;

  background: black;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
  height: 100vh;
}

.banner {
  width: 80%;

  display: flex;
  flex-direction: column;


  margin: 0 auto;
}
 .center {
  margin: 0 auto;
 }

 .descript {
   width: 80%;
   margin: 0 auto;
 }

 .red_span {
  font-family: 'comic sans ms', sans-serif;
  font-size: 14pt;
  color: #800000;
  margin-left: 40%;
 }