@import './variebals.scss';
@import './breakepoints.scss';
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  @font-face {font-family: "VTB Group Cond Book"; 
    src: url("//db.onlinewebfonts.com/t/535f840c3f8648137acc62e170b62847.eot"); 
    src: url("//db.onlinewebfonts.com/t/535f840c3f8648137acc62e170b62847.eot?#iefix") 
    format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/535f840c3f8648137acc62e170b62847.woff2")
     format("woff2"), 
     url("//db.onlinewebfonts.com/t/535f840c3f8648137acc62e170b62847.woff") 
     format("woff"),
      url("//db.onlinewebfonts.com/t/535f840c3f8648137acc62e170b62847.ttf") 
      format("truetype"), 
      url("//db.onlinewebfonts.com/t/535f840c3f8648137acc62e170b62847.svg#VTB Group Cond Book") 
      format("svg"); }
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  background:$bodyBackgraundColor;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.main {
  height: 100%;

}

footer{
  height: 300px;

  background: black;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
  max-width: 70%;
  height: 100%;
  margin: 0 auto;

  @include bp-1390 {
    max-width: 90%;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.slt80 {
  height: 80px;
}
