$widhtHeader: 140px;

$blueVtb:linear-gradient(90deg, rgb(0, 55, 255) 0%, rgb(0, 133, 255) 75%);
$darkBlue:rgb(0, 55, 255);
$liteBlue:rgb(0, 132, 255);


$textDarkGrey:rgb(47, 52, 65);
$textLightGrey:rgb(96, 105, 129);

$black:rgb(0, 0, 0);

$bodyBackgraundColor: rgb(243, 247, 250);
$darkWhite:rgb(243, 247, 250);
$witeOpasiti: rgb(228, 239, 248);
$white:#ffff;

$gray: rgb(212, 215, 223);